<h2>Listagem de Eventos</h2>

<a href="/dashboard">Dashboard</a>
<br>
<a href="/booking/my-tickets">Meus ingressos</a>

<ul>
    {{#events}}
        <li>
            Evento: <strong>{{title}}</strong> - Restam {{available_tickets}} ingressos - ${{price}}<br>
            <form method="POST" action="/booking/book/{{_id}}">
                <input type="number" name="quantity" min="1" max="{{available_tickets}}" required>
                <button type="submit">Comprar</button>
            </form>
        </li>
    {{/events}}
</ul>

{{#user.isAdmin}}
    <a href="/events/new">Criar novo evento</a>
{{/user.isAdmin}}