<h2>Meus ingressos</h2>

<form method="GET" action="/my-tickets">
    <input type="text" name="q" placeholder="Pesquisar eventos" value="{{searchQuery}}">
    <button type="submit">Search</button>
</form>

<ul>
    {{#tickets}}
        <li>
            <strong>{{event_id.title}}</strong> - Quantidade de ingressos comprados:{{quantity}}
        </li>
    {{/tickets}}
</ul>

<a href="/dashboard">Dashboard</a>